html {
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 30em;
  margin: 0 auto;
}

.App-logo {
  pointer-events: none;
  padding-top: 1.5em;
}

.App-header {
  width: 84vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.App-container {
  width: 50em;
  max-width: 100%;
  padding: 0;
}

.App-link {
  color: #61dafb;
}