.Quote-list-container {
  padding: 0;
}

.Quote-list-quote-container {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 2px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.Quote-list-quote-click-container {
  display: flex;
  padding: 0.35em;
  max-height: 1.6em;
  height: fit-content;
  text-align: left;
  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.Quote-list-quote-click-container:hover {
  cursor: pointer;
}

.Quote-list-season-episode {
  font-size: 75%;
  color: #d1544b;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 0.5em;
}

.Quote-list-quotee {
  font-size: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 2;
  flex-grow: 2;
  text-align: right;
  white-space: nowrap;
}

.Quote-list-quote-text {
  order: 1;
  overflow: hidden;
  margin-right: 0.5em;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Quote-list-narrator {
  display: none;
  font-size: 75%;
  text-align: right;
  padding-left: 1em;
}

.Quote-list-quote-image {
  order: 4;
  margin: 0 auto;
  padding-top: 2em;
}

.Quote-list-quote-container.Expanded {
  z-index: 1;
}

.Quote-list-quote-container.Expanded .Quote-list-quote-click-container {
  flex-wrap: wrap;
  min-height: 1.6em;
  max-height: 50em;
}

.Quote-list-quote-container.Expanded .Quote-list-quotee {
  order: 1;
}

.Quote-list-quote-container.Expanded .Quote-list-quote-text {
  order: 3;
  -webkit-line-clamp: 20;
  padding-top: 0.35em;
  width: 100%;
}

.Quote-list-quote-container.Expanded .Quote-list-narrator {
  display: initial;
  order: 2;
}